body {
    background-color: black;
    text-align: center;
    color: white;
}

a {
    color: white;
    padding: 10px;
    background-color: blue;
    border-radius: 10px;
}

a:hover {
    background-color: blueviolet;
    color: black;
}

div {
    width: 550px;
    height: 400px;
    background-color: aqua;
    padding: 20px;
    border-radius: 10px;
    margin: 30px;
}

iframe {
    width: 500px;
    height: 300px;
    padding: 10px;
    border-radius: 20px;
}

div:hover {
    background-color: rgb(144, 235, 251);
    color: blue;
}